<div class="wrapper" ng-controller="altaController">	

	<!-- Menu -->
	<ng-include src="'views/partials/menu.html'"> </ng-include>

	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				Tablas <small>Ejemplo de tablas</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
				<li class="active">Tablas</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Ejemplo de tabla basica</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Nombre del Equipo</th>
										<th>Nombre</th>
										<th>Apellido paterno</th>
										<th>Apellido materno</th>
										<th>Numero de playera</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Manchester United</td>
										<td>Alejandro</td>
										<td>Lopez</td>
										<td>Perez</td>
										<td>1</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Gustavo</td>
										<td>Vargas</td>
										<td>Perez</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Javier</td>
										<td>Perez</td>
										<td>Lopez</td>
										<td>3</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Fredy</td>
										<td>Dominguez</td>
										<td>Perez</td>
										<td>4</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Efren</td>
										<td>Jaramillo</td>
										<td>Suazo</td>
										<td>5</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Jose</td>
										<td>Viera</td>
										<td>Rebolledo</td>
										<td>6</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Salvador</td>
										<td>Flores</td>
										<td>Perez</td>
										<td>7</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Arturo</td>
										<td>Gonzales</td>
										<td>Perez</td>
										<td>8</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Cesar</td>
										<td>Quiroz</td>
										<td>Perez</td>
										<td>9</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Ivan</td>
										<td>Porras</td>
										<td>Perez</td>
										<td>10</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Christian</td>
										<td>Diaz</td>
										<td>Perez</td>
										<td>1</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Jorge</td>
										<td>Salas</td>
										<td>Perez</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Jorge</td>
										<td>Rodriguez</td>
										<td>Perez</td>
										<td>3</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Luis</td>
										<td>Velasquez</td>
										<td>Perez</td>
										<td>4</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Edson</td>
										<td>Fonseca</td>
										<td>Perez</td>
										<td>5</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Omar</td>
										<td>Vargas</td>
										<td>Perez</td>
										<td>6</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Jesus</td>
										<td>Rivera</td>
										<td>Perez</td>
										<td>7</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Heriberto</td>
										<td>Reyes</td>
										<td>Troches</td>
										<td>8</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Leandro</td>
										<td>Salinas</td>
										<td>Velasquez</td>
										<td>9</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Ejemplo de tabla avanzada</h3>
						</div>
						<div class="box-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Nombre del Equipo</th>
										<th>Nombre</th>
										<th>Apellido paterno</th>
										<th>Apellido materno</th>
										<th>Numero de playera</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Manchester United</td>
										<td>Alejandro</td>
										<td>Lopez</td>
										<td>Perez</td>
										<td>1</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Gustavo</td>
										<td>Vargas</td>
										<td>Perez</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Javier</td>
										<td>Perez</td>
										<td>Lopez</td>
										<td>3</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Fredy</td>
										<td>Dominguez</td>
										<td>Perez</td>
										<td>4</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Efren</td>
										<td>Jaramillo</td>
										<td>Suazo</td>
										<td>5</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Jose</td>
										<td>Viera</td>
										<td>Rebolledo</td>
										<td>6</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Salvador</td>
										<td>Flores</td>
										<td>Perez</td>
										<td>7</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Arturo</td>
										<td>Gonzales</td>
										<td>Perez</td>
										<td>8</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Cesar</td>
										<td>Quiroz</td>
										<td>Perez</td>
										<td>9</td>
									</tr>
									<tr>
										<td>Manchester United</td>
										<td>Ivan</td>
										<td>Porras</td>
										<td>Perez</td>
										<td>10</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Christian</td>
										<td>Diaz</td>
										<td>Perez</td>
										<td>1</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Jorge</td>
										<td>Salas</td>
										<td>Perez</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Jorge</td>
										<td>Rodriguez</td>
										<td>Perez</td>
										<td>3</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Luis</td>
										<td>Velasquez</td>
										<td>Perez</td>
										<td>4</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Edson</td>
										<td>Fonseca</td>
										<td>Perez</td>
										<td>5</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Omar</td>
										<td>Vargas</td>
										<td>Perez</td>
										<td>6</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Jesus</td>
										<td>Rivera</td>
										<td>Perez</td>
										<td>7</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Heriberto</td>
										<td>Reyes</td>
										<td>Troches</td>
										<td>8</td>
									</tr>
									<tr>
										<td>Barcelona FC</td>
										<td>Leandro</td>
										<td>Salinas</td>
										<td>Velasquez</td>
										<td>9</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script src="resources/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="resources/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="resources/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="resources/plugins/fastclick/fastclick.min.js"></script>
<script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
